.btn {
    width: 140px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: medium;

    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;

    transition: transform 0.12s ease, box-shadow 0.12s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.btn-sesion {
    color: rgba(0, 0, 0, 0.71);
    background-color: rgba(255, 255, 255, 0.91);
}

.btn-register {
    color: rgba(255, 255, 255, 0.71);
    background-color: rgba(31, 31, 31, 0.95)
}

.btn:active {
    transform: scale(0.96);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

html,
body {
    overflow-x: hidden;
    overflow-y: hidden;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: white;
}

body {
    background-image: url("background-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}

.header-gruop {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: rgba(31, 31, 31, 0.95);
    padding: 5px 20px;
}

.header-gruop img {
    width: 75px;
    margin-right: 20px;
}

.header-gruop h1 {
    font-size: 50px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: Bold;
}

.right-group {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.textInformation h2 {
    font-size: 60px;
    font-weight: Bold;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
}